* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Archivo', sans-serif;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 4.6rem;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
}